@import "_vars";

.box-shadow-border (@width, @color) {
  .box-shadow(inset 0 0 0 @width @color);
}

.box-shadow (...) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.box-sizing (...) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.icon () {
  border-radius: @button-border-radius;
  &:hover {
    .box-shadow-border(1px, darken(@form-background-color, 20%));
  }
}