//Sizes
@form-width: 600px;
@form-border-radius: 2px;
@input-theme-height: 23px;
@button-height: 35px;
@button-border-radius: 2px;
@message-padding: 5px 8px;
@message-min-height: 90px;
@message-max-height: 320px;

//Colors
@form-background-color: #E0DFDA;
@button-background-color: #4d90fe;
@button-color: white;

//Fonts
@font-size: .8em;
@font-family: Arial,sans-serif;
@btn-icon-font-size: 180%;