@import "flexbox";
@import "_mixins";
@import "_vars";

html {
  height: 100%;
}

body {
  font: @font-size @font-family;
  height: 100%;
  margin: 0;
}

#container {
  .align-items(center);
  .flex-display();
  .justify-content(center);
  height: 100%;
}

#form {
  width: @form-width;
  background-color: @form-background-color;
  border-radius: @form-border-radius;
  .flex-display();
  .flex-direction(column);
}

.theme {
  padding: @message-padding;
  border-bottom: 1px solid darken(@form-background-color, 20%);

  input {
    outline: none;
    width: 100%;
    height: @input-theme-height;
    border: 0;
    background-color: inherit;
  }
}

.message {
  .flex-grow(1);
  .flex-display();
  .flex-direction(column);
  padding: @message-padding;
  min-height: @message-min-height;
  max-height: @message-max-height;

  textarea {
    .flex-grow(1);
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: 0;
    .box-sizing(border-box);
    overflow: auto;
  }
}

.buttons {
  .flex-basis(50px);
  .flex-display();
  .align-items(center);
  border-top: 1px solid darken(@form-background-color, 20%);

  .btn {
    margin-left: 5px;
  }
  .emoticon {
    margin: 0 0 0 auto;
  }
  .insert-ip {
    margin: 0 5px;
  }
}

.btn {
  padding: 6px 16px 7px 16px;
  cursor: pointer;
  outline-color: darken(@button-background-color, 10%);
  font-size: 85%;
  font-weight: 700;
  vertical-align: top;
  height: @button-height;
  background-color: @button-background-color;
  color: @button-color;
  border: 0;
  border-radius: @button-border-radius;

  &.enabled:hover {
     background-color: darken(@button-background-color, 10%);
   }

  &.enabled:active {
    background-color: @button-background-color !important;
    padding-top: 7px;
    padding-bottom: 6px;
  }

  &.disabled {
    cursor: default;
    background-color: lighten(@button-background-color, 10%);
  }
}

.btn-icon {
  .icon();
  height: @button-height;
  line-height: @button-height;
  font-size: @btn-icon-font-size;
  padding: 0 5px;
  cursor: pointer;
  outline: 0;

  &:focus {
    .box-shadow-border(2px, lighten(@button-background-color, 10%));
  }
  &:active {
    background-color: darken(@form-background-color, 5%);
  }
}

.smiley-icons {
  font-size: @btn-icon-font-size;

  i {
    .icon();
    padding: 5px;
    cursor: pointer;
  }
}