doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        script(type="text/javascript", src="js/jquery-1.12.2.min.js")
        script(type="text/javascript", src="js/jquery.tooltipster.min.js")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/tooltipster.css')
        link(rel='stylesheet', href='css/tooltipster-theme.css')
        link(rel='stylesheet', href='css/style.css')
        title Форма ввода
    body
        #container
            form#form
                .focusguard.fg-begin(tabindex=1)
                .theme
                    input(placeholder="Тема", tabindex=1)
                .message
                    textarea(tabindex=1)
                .buttons
                    button.submit-message.disabled.btn(tabindex=-1)
                        span.button-text Отправить
                    button.cancel.disabled.btn(tabindex=-1)
                        span.button-text Отменить
                    div.btn-icon.emoticon(title="Вставить смайлик", tabindex=1)
                        i.fa.fa-smile-o
                    div.btn-icon.insert-ip(title="Вставить ip", tabindex=1)
                        i.fa.fa-magic
                .focusguard.fg-end(tabindex=1)

        include templates

        script(type="text/javascript", src="js/app.js")